<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header">
<meta charset="utf-8" />
<link href="/css/clean-blog.css" rel="stylesheet" />
</head>

<body>
	<div th:replace="common/header :: navbar" />

	<!-- Page Header -->
	<!-- Set your background image for this header on the line below. -->
	<header class="intro-header">
		<div class="container" style="margin-top: 0;">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<div class="site-heading">
						<h1>Social Builder</h1>
						<hr class="small" />
						<span style="font-size: 2em" class="subheading">Startup sociale</span>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Main Content -->
	<div class="container">
		<div class="col-xs-10">
			<p>
			</p>
		</div>
	</div>


	<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>