<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header">
<meta charset="utf-8" />
<link href="/css/clean-blog.css" rel="stylesheet" />
</head>

<body>
	<div th:replace="common/header :: navbar" />

	<!-- Page Header -->
	<!-- Set your background image for this header on the line below. -->
	<header class="intro-header">
		<div class="container no-margin-top">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<div class="site-heading">
						<h1>Social Builder</h1>
						<hr class="small" />
						<span class="subheading">Startup
							sociale</span>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Main Content -->
	<div class="container">
		<div class="col-md-10 col-md-offset-1 col-xs-12">
			<p class="text-justify font-text">
				Social Builder est une startup sociale qui se donne pour mission de
				concrétiser la mixité Femmes-Hommes dans les métiers et sphères de
				décision par l’innovation des pratiques, l’accompagnement des
				acteurs, la diffusion d’une culture de l’égalité femmes-hommes
				auprès des leaders de demain. Elle cible prioritairement l’économie
				numérique et est en phase d’essaimage sur tout le territoire
				français. <br /><br/>
				
				Social Builder a mis en place le programme
				Étincelles, un dispositif innovant d’accompagnement pour les femmes
				qui veulent faire carrière ou monter leur entreprise dans le secteur
				du numérique. Cet accompagnement propose une formation leadership,
				du coaching régulier, du mentorat et du networking. <br /><br/>
				Ce site	est celui de la communauté Étincelles. Vous pouvez y suivre les
				actualités du réseau, mais aussi retrouver l’ensemble des Étincelles
				qui ont participé au programme, ainsi que les mentor.e.s et les coachs qui les ont accompagnées.
				<br /><br/> Pour plus d’informations sur Social Builder, notre communauté, notre programme de formations et nos actions : <a target="_blank" href="http://jeunesfemmesetnumerique.com/">http://jeunesfemmesetnumerique.com/</a>
				<br/>
				Pour nous contacter : <a href="mailto:nous@socialbuilder.org">nous@socialbuilder.org</a>
				
			</p><br/>
		</div>
	</div>


	<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
<div th:replace="common/footer :: footer" />
</html>