<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header">
<meta charset="utf-8" />
<link href="/css/clean-blog.css" rel="stylesheet" />
</head>

<body>
	<div th:replace="common/header :: navbar" />

	<!-- Page Header -->
	<!-- Set your background image for this header on the line below. -->
	<header class="intro-header">
		<div class="container no-margin-top">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<div class="site-heading">
						<h1>Social Builder</h1>
						<hr class="small" />
						<span class="subheading">Startup
							sociale</span>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Main Content -->
	<div class="container">
		<div class="col-md-10 col-md-offset-1 col-xs-12">
			<p class="text-justify font-text">
				<a target="_blank" href="http://socialbuilder.org">Social Builder</a> est une startup sociale qui construit la mixité et l’égalité femmes-hommes dans les métiers du numérique et dans l’entrepreneuriat. Aujourd’hui présente à Paris et à Lyon, elle propose des actions d’accompagnement et de formation auprès des femmes, des réseaux et des entreprises. Laboratoire de réflexion-action, Social Builder allie des expertises dans la mixité et l’économie numérique, qu’elle concrétise à travers des programmes innovants. Labellisée Grande École du Numérique et lauréate La France S’Engage, la structure développe ses actions sur tous les territoires.
				<br /><br/>
				
				Notre vision et les actions qui en découlent partent de plusieurs constats. Le secteur du numérique est en forte croissance avec 36 000 créations d’emplois par an (Syntec). Les femmes ne représentent que 27% des employé.e.s dans ce secteur (Syntec) et 10% des créateur.rice.s de startup. Le numérique et les nouvelles technologies changent notre rapport à la société et au travail et sont des leviers puissants d’innovation sociale. Malgré ce dynamisme, les entreprises du secteur peinent à recruter le personnel dont elles ont besoin. Notre conclusion est donc simple : le numérique a besoin des femmes, et les femmes ont besoin d’être présentes dans des métiers d’avenir.
				<br /><br/>
				
				Cette plateforme communautaire est un catalyseur d'opportunités professionnelles pour les membres du réseau Social Builder. Elle facilite la connexion entre les professionnel.le.s du numérique grâce à l’<a target="_blank" href="https://etincelles.co/directory">annuaire intégré</a>. Vous pouvez également y suivre les actualités de la communauté. 
				<br /><br/>
				 Ce site etincelles.co est une action menée dans le cadre de la convention de coopération signée entre le Ministère de l’Education nationale, le Ministère de l’Enseignement supérieur, de la Recherche et de l’Innovation et le FAFIEC avec le concours des fonds collectés au titre de la taxe d’apprentissage.
				<div class="container">
				    <div class="row imagetiles vertical-align">
				     	<div class="col-lg-1 col-md-1 col-sm-1 hidden-xs">
				       	</div>
				        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
				            <img class="img-responsive" alt="" th:src="${'/images/octa.jpg'}"/>
				        </div>
				        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
				            <img alt="" class="img-responsive" th:src="${'/images/fafiec.jpg'}"></img>
				        </div>
				        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				            <img alt="" class="img-responsive" th:src="${'/images/ministere-enseignement-sup.jpg'}"></img>
				        </div>
				        <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs">
				       	</div>
				    </div>
				</div>
				<br/><br/>
				
				Pour plus d’informations sur Social Builder : <a target="_blank" href="http://socialbuilder.org">www.socialbuilder.org</a>
				<br/>
				Pour nous contacter : <a href="mailto:nous@socialbuilder.org">nous@socialbuilder.org</a>
				
			</p><br/>
		</div>
	</div>


	<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
<div th:replace="common/footer :: footer" />
</html>
