<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header">
<meta charset="utf-8" />
</head>

<body>
	<div th:replace="common/header :: navbar" />
	<br />
	<div class="container">		
		<div class="row">
		
		<div class="col-xs-2">
				<h3><label for="searchCategories">Catégories</label></h3>
				<div class="list-group" id="category">
					<a th:href="@{/directoryIndex}" th:classappend="${activeAll}? 'active'" class="list-group-item no-under">Toutes</a>
					<a th:href="@{/directory(type='CareerParticipants')}" th:classappend="${activeCareerParticipants}? 'active'" class="no-under list-group-item">Etincelles carrières</a>
					<a th:href="@{/directory(type='StartupParticipants')}" th:classappend="${activeStartupParticipants}? 'active'" class="no-under list-group-item">Etincelles startup</a>
					<a th:href="@{/directory(type='CareerMentors')}" th:classappend="${activeCareerMentors}? 'active'" class="no-under list-group-item">Mentor.e.s carrières</a>
					<a th:href="@{/directory(type='StartupMentors')}" th:classappend="${activeStartupMentors}? 'active'" class="no-under list-group-item">Mentor.e.s startup</a>
					<a th:href="@{/directory(type='Coaches')}" th:classappend="${activeCoaches}? 'active'" class="no-under list-group-item">Coachs</a>
					<a th:href="@{/directory(type='Staff')}" th:classappend="${activeStaff}? 'active'" class="no-under list-group-item">Staff</a>
					<a th:href="@{/directory(type='Paris')}" th:classappend="${activeParis}? 'active'" class="no-under list-group-item">Paris</a>
					<a th:href="@{/directory(type='Lyon')}" th:classappend="${activeLyon}? 'active'" class="no-under list-group-item">Lyon</a>
				</div>
		</div>
			
		<div data-th-each="user : ${userList}" class="col-lg-3 col-sm-6">
			<br />

			<div class="card hovercard">
				<div class="cardheader"></div>
				<div class="avatar"
					th:with="pic=${'/images/user/' + user.id +'.png'}">
					<img
						th:src="${(user.hasPicture) ? pic : 'http://placekitten.com/350/320'}"
						th:alt="${user.firstName + ' ' + user.lastName}" />
				</div>
				<div class="info">
					<div class="title">
						<a class="no-under" th:href="@{/userDetail(id=${user.id})}"
							th:text="${user.firstName + ' ' + user.lastName}"></a>
					</div>
					<div th:if="${user.promo}" class="desc"
						th:text="${'Promo ' + user.promo}"></div>
					<div class="desc" th:text="${user.city}"></div>
				</div>
				<div class="bottom">
					<a target="_blank" class="btn btn-twitter btn-sm"
						th:href="@{https://twitter.com/} + ${user.twitter}"> <i
						class="fa fa-twitter"></i>
					</a> <a target="_blank" class="btn btn-facebook btn-sm" rel="publisher"
						th:href="@{https://facebook.com/public/} + ${user.facebook}">
						<i class="fa fa-facebook"></i>
					</a> <a target="_blank" class="btn btn-linkedin btn-sm" rel="publisher"
						th:href="@{https://linkedin.com/in/} + ${user.linkedin}"> <i
						class="fa fa-linkedin"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>