<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header">
<meta charset="utf-8" />
</head>

<body>
	<div th:replace="common/header :: navbar" />
	<br />
	<div class="container">
		<div class="row">
			<div class="col-xs-2 col-xs-offset-4">
				<button class="btn btn-default">
					<a class="no-under" href="/directory?type=careerParticipants">Etincelles
						Carrières</a>
				</button>
				<br />
				<button class="btn btn-default">
					<a class="no-under" href="/directory?type=startupParticipants">Etincelles
						Startup</a>
				</button>
				<br />
				<button class="btn btn-default">
					<a class="no-under" href="/directory?type=careerMentors">Mentor.e.s
						Carrières</a>
				</button>
				<br />
				<button class="btn btn-default">
					<a class="no-under" href="/directory?type=startupMentors">Mentor.e.s
						Startup</a>
				</button>
				<br />
				<button class="btn btn-default">
					<a class="no-under" href="/directory?type=coaches">Coachs</a>
				</button>
				<br />
				<button class="btn btn-default">
					<a class="no-under" href="/directory?type=staff">Equipe
						Etincelle</a>
				</button>
			</div>
		</div>
	</div>
	<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>