<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header">
<meta charset="utf-8" />
</head>

<body>
	<div th:replace="common/header :: navbar" />
	<br />
	<div class="container">
		<div class="row">
			<div id="categoryDiv" class="col-xs-10">
				<h4>
					<label for="skill">Filtrer</label>
				</h4>
			</div>
		</div>
		<div class="row">
			<form accept-charset="UTF-8" action="/directorySearch"
				id="searchform" method="post">
				<div class="col-xs-10 col-sm-2" style="line-height: 30px">
					<select name="skills" id="skillSelect"
				class="selectpicker form-control" multiple="multiple"
				title="Compétences">
					<option data-th-each="skill : ${skillList}" th:value="${skill}" th:text="${skill}"></option>
				</select>
				</div>

				<div class="col-xs-10 col-sm-2">
					<select id="sector" title="Secteur" name="sectors"
						 class="selectpicker form-control" multiple="multiple">
						<option data-th-each="sector : ${sectors}" th:value="${sector}" th:text="${sector}"></option>				
					</select>
				</div>

				<div class="col-xs-10 col-sm-2">
					<select id="category" title="Catégorie" name="categories"
						multiple="multiple" class="selectpicker form-control">
						<option th:value="Etincelle">Etincelle</option>
						<option th:value="Mentore">Mentor.e</option>
						<option th:value="Coach">Coach</option>
						<option th:value="Equipe">Equipe Social Builder</option>
					</select>
				</div>

				<div class="col-xs-10 col-sm-2">
					<select style="line-height: 30px" name="cities"
						class="selectpicker form-control" multiple="multiple"
						title="Ville">
						<option th:value="Paris">Paris</option>
						<option th:value="Lyon">Lyon</option>
					</select>
				</div>

				<div class="col-xs-3 col-xs-offset-3 col-sm-offset-0 col-sm-1 submit">
					<input class="btn btn-default" name='submit' type='submit'
						value='Valider' />

				</div>
				<div class="col-xs-4 col-sm-1 submit">
					<a class="btn btn-default no-under" th:href="@{/directory}"
						role="button">Réinitialiser</a>
				</div>
			</form>

		</div>

		<div class="row" th:if="${searchString}">
			<div class="col-xs-12">
				<br />
				<p style="font-size: 1em" th:text="${searchString}"></p>				
			</div>
		</div>
		
		<div class="row" th:if="${listEmpty}">
			<div class="col-xs-12">
				<br />
				<p>Aucun résultat</p>
			</div>
		</div>

		<div class="row">
			<div data-th-each="user : ${userList}"
				class="userCard col-xs-10 col-xs-offset-1 col-sm-offset-0 col-lg-3 col-sm-4">
				<br /> <a th:if="${user.firstName != null}" class="no-under" th:href="@{/userDetail(id=${user.id})}"><div
						class="card hovercard">
						<div class="cardheader"></div>
						<div class="avatar">
							<img th:if="${user.hasPicture == false}"
								th:src="@{/images/flower.jpeg}"
								th:alt="${user.firstName + ' ' + user.lastName}" /> <img
								th:if="${user.hasPicture}"
								th:src="${'/images/user/'+ user.id +'.png'}"
								th:alt="${user.firstName + ' ' + user.lastName}" />
						</div>
						<div class="info">
							<div th:if="${user.firstName != null || user.lastName != null}"
								class="title" th:text="${user.firstName + ' ' + user.lastName}"></div>

							<div
								th:if="${user.category != null and #strings.equals(user.category,'Equipe')}"
								class="desc" th:text="${'Equipe Social Builder'}"></div>

							<div
								th:if="${user.category != null and !#strings.equals(user.category,'Equipe')}"
								class="desc" th:text="${user.category}"></div>


							<div data-th-each="userSkill : ${user.userSkills}">
								<div data-th-each="skill : ${userSkill.skill}">
									<div style="font-size: 1.5em" th:if="${skill != null and !#strings.isEmpty(skill)}"
										class="desc" th:text="${'#' + skill.name}"></div>
								</div>
							</div>
							<br/>
							<a th:if="${!user.noContact}" style="background-color: #80AA03"
								class="btn btn-default no-under btn-xs"
								th:href="@{/userDetail(id=${user.id})}" role="button">Contacter</a>

						</div>
						<div class="bottom">
							<a
								th:if="${user.twitter != null and !#strings.isEmpty(user.twitter)}"
								target="_blank" class="btn btn-twitter btn-sm"
								th:href="@{https://twitter.com/} + ${user.twitter}"> <i
								class="fa fa-twitter"></i>
							</a> <a
								th:if="${user.facebook != null and !#strings.isEmpty(user.facebook)}"
								target="_blank" class="btn btn-facebook btn-sm" rel="publisher"
								th:href="@{https://facebook.com/public/} + ${user.facebook}">
								<i class="fa fa-facebook"></i>
							</a> <a
								th:if="${user.linkedin != null  and !#strings.isEmpty(user.linkedin)}"
								target="_blank" class="btn btn-linkedin btn-sm" rel="publisher"
								th:href="@{https://linkedin.com/in/} + ${user.linkedin}"> <i
								class="fa fa-linkedin"></i>
							</a>
						</div>
					</div></a>
			</div>
		</div>
	</div>
	<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>