<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" >
	<meta charset="utf-8" />
</head>

<body>
	<div th:replace="common/header :: navbar" />
	
	<main class="no-margin-top">
	
	<!-- Header -->

	
    <header class="intro-header">
        <div class="container no-margin-top"  tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <h1 class="name">Etincelles</h1>
                        <hr class="star-light"/>
                        <span class="skills">La communauté accélératrice de carrière du numérique</span>
                        <br/><br/><br/>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Découvrir</h2>
                </div>
            </div>
            <br/><br/>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a th:href="@{/directory}" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>Annuaire</p>
                            </div>
                        </div>
                        <img th:src="@{/images/yearbook.jpg}" class="img-responsive" alt="Yearbook"/>
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a th:href="@{/calendar}" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                            <p>Agenda</p>
                                <!-- <i class="fa fa-search-plus fa-3x"></i> -->
                            </div>
                        </div>
                        <img src="images/calendar.jpeg" class="img-responsive" alt="Calendar"/>
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a th:href="@{/news}" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>Actualités</p>
                            </div>
                        </div>
                        <img src="images/news.jpeg" class="img-responsive" alt="News"/>
                    </a>
                </div>
                
            </div>
        </div>
    </section>

	</main>
	<div th:replace="common/header :: body-bottom-scripts" />
</body>
<div th:replace="common/footer :: footer" />
</html>