<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" >
	<meta charset="utf-8" />
</head>

<body>
	<div th:replace="common/header :: navbar" />
	
	<main class="no-margin-top">
	
	<!-- Header -->

	<div class="homepage-hero-module">
	    <div class="video-container">
	    	<div class="title-container">
                <div class="headline">
		            <div class="intro-text">
                        <h1 class="name">Etincelles</h1>
                        <hr class="star-light"/>
                        <a class="no-under btn-xs btn-index hidden-xs"
							th:href="@{/directory}" role="button">Accédez à la communauté accélératrice de carrière du numérique</a>
						<a class="no-under btn-xs btn-index hidden-sm hidden-md hidden-lg"
							th:href="@{/directory}" role="button">Accédez à la communauté</a>
                        <br/><br/><br/>
                    </div>
                </div>
            </div>
	        <div class="filter"></div>
	        <video autoplay="autoplay" loop="loop" class="fillWidth">
	            <source src="images/We-Work-We-Wait.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
	            <source src="images/We-Work-We-Wait.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
	        </video>
	        <div class="poster hidden">
	            <img src="images/img0001.png" alt=""/>
	        </div>
	        <div class="scroll-invitation">
	        	<i style="font-size: 3em;" class="fa fa-angle-down scroll-icon" aria-hidden="true"></i>
	        </div>
	    </div>
	</div>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a th:href="@{/directory}" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>ANNUAIRE <br/>Toute la communauté Social Builder</p>
                            </div>
                        </div>
                        <img th:src="@{/images/yearbook.jpg}" class="img-responsive" alt="Yearbook"/>
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a th:href="@{/calendar}" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                            <p>AGENDA <br/>Les prochains événements Social Builder</p>
                                <!-- <i class="fa fa-search-plus fa-3x"></i> -->
                            </div>
                        </div>
                        <img src="images/calendar.jpeg" class="img-responsive" alt="Calendar"/>
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a th:href="@{/blog}" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>LE BLOG <br/>Retrouvez ici les articles et billets Social Builder</p>
                            </div>
                        </div>
                        <img src="images/news.jpeg" class="img-responsive" alt="News"/>
                    </a>
                </div>
                
            </div>
        </div>
    </section>

	</main>
	<div th:replace="common/header :: body-bottom-scripts" />
	<script th:src="@{/js/coverr.js}"></script>
</body>
<div th:replace="common/footer :: footer" />
</html>