<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header">
<meta charset="utf-8" />
</head>

<body>
	<div th:replace="common/header :: navbar" />

	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="section-headline">
					<h2 class="section-headline">
						<span th:text="${user.email}"></span>
					</h2>
				</h2>
			</div>
		</div>

		<hr />
		<div class="row">
			<div class="alert alert-danger" th:if="${uploadError}">
				<strong>Le fichier est trop volumieux, maximum 50Mo</strong>
			</div>
			
			<div class="alert alert-danger" th:if="${incorrectSkills}">
				<strong>Vous devez sélectionner 4 compétences maximum</strong>
			</div>

			<div class="alert alert-danger" th:if="${emailExists}">
				<strong>Cette adresse email est déjà utilisée</strong>
			</div>

			<div class="alert alert-success" th:if="${updateSuccess}">
				<strong>Informations mises à jour</strong>
			</div>
			<div class="bg-info" th:if="${updateUserInfo}">User info
				updated.</div>
		</div>

		<div class="row">
			<div id="updateForm" class="col-xs-12 col-sm-8 col-sm-offset-2">

				<!-- Nav tabs -->
				<ul class="nav nav-tabs">
					<li class="active"><a class="no-under" href="#tab-1"
						data-toggle="tab"><span>Modifier</span></a></li>
					<!-- <li th:classappend="${classActiveOrders}? 'active'"><a
                        href="#tab-2" data-toggle="tab"><span style="color: red;">Orders</span></a></li>
                <li th:classappend="${classActiveBilling}? 'active'"><a
                        href="#tab-3" data-toggle="tab"><span style="color: red;">Billing</span></a></li>
                <li th:classappend="${classActiveShipping}? 'active'"><a
                        href="#tab-4" data-toggle="tab"><span style="color: red;">Shipping</span></a></li> -->
				</ul>

				<!-- Tab panels -->
				<div class="tab-content">

					<!-- Edit user information -->
					<div class="tab-pane fade in active" id="tab-1">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;">


									<form th:action="@{/updateUserInfo}" method="post"
										enctype="multipart/form-data">

										<input type="hidden" name="id" th:value="${user.id}" /> <input
											type="hidden" name="category" th:value="${user.category}" />
										<input type="hidden" name="type" th:value="${user.type}" />

										<div class="form-group">
											<div class="row">
												<div class="col-xs-6">
													<label for="firstName">* Prénom</label> <input type="text"
														required="required" class="form-control" id="firstName"
														name="firstName" th:value="${user.firstName}" />
												</div>

												<div class="col-xs-6">
													<label for="lastName">* Nom</label> <input type="text"
														required="required" class="form-control" id="lastName"
														name="lastName" th:value="${user.lastName}" />
												</div>
											</div>
										</div>

										<div class="form-group">
											<label for="email">* Email</label><input type="text" required="required"
												class="form-control" id="email" name="email"
												th:value="${user.email}" />
										</div>
										<p style="color: #828282"></p>
																		
										<div th:if="${user.city != null}" class="form-group" id="city">
											<label for="city">* Ville</label> <select name="city" id="citySelect"
												class="form-control" required="required">
												<option th:selected="(${user.city.name()}=='Paris')" th:value="Paris">Paris</option>
												<option th:selected="(${user.city.name()}=='Lyon')" th:value="Lyon">Lyon</option>
											</select>
										</div>
										
										<div th:if="${user.city == null}" class="form-group" id="city">
											<label for="city">* Ville</label> <select name="city" id="citySelect"
												class="form-control" required="required">
												<option value="" selected="selected" disabled="disabled">Choisir une ville</option>
												<option th:value="Paris">Paris</option>
												<option th:value="Lyon">Lyon</option>
											</select>
										</div>
										
										<div class="form-group" th:if="${skills == null}">
										<label for="skills">Compétences (4 maximum)</label>
											<div th:replace="common/skillSelect :: regularSkillSelect"></div>
										</div>
										
										<div class="form-group" th:if="${skills != null}">
											<label for="skills">Compétences (4 maximum)</label>
											<div th:replace="common/skillSelect :: userSkillSelect"></div>
										</div>									
																				
										<div class="form-group" th:if="${user.sector == null or (#strings.isEmpty(user.sector))}">
										<label for="sector">Secteur</label>
											<div th:replace="common/sectorSelect :: regularSectorSelect"></div>
										</div>
										
										<div class="form-group" th:if="${user.sector != null and !(#strings.isEmpty(user.sector))}">
											<label for="sector">Secteur</label>
											<div th:replace="common/sectorSelect :: userSectorSelect"></div>
										</div>

										<div class="form-group">
											<label for="description">Description</label>
											<!-- <p th:utext="${user.description}"></p> -->
											<textarea class="form-control editme" id="description"
												name="description" th:utext="${user.description}"></textarea>

										</div>

										<div class="form-group">
											<label for="picture">Photo</label><input type="file"
												class="form-control" id="picture" name="picture"
												th:value="${user.picture}" />
										</div>

										<!-- Pour étincelles -->
										<div class="form-group"
											th:if="${user.category != null and user.category.name() == 'ETINCELLE'}">
											<label for="promo">Promo</label><input type="number"
												class="form-control" id="promo" name="promo"
												th:value="${user.promo}" />
										</div>										

										<div class="form-group">
											<label for="twitter">Compte twitter</label><input type="url"
												class="form-control" id="twitter"
												name="twitter"
												placeholder="url complète"
												th:value="${user.twitter}" />
											<p style="color: #828282; font-size: 0.9em">Par exemple
												https://twitter.com/SocialBuilder</p>
										</div>

										<div class="form-group">
											<label for="facebook">Compte facebook</label><input
												type="url" class="form-control" id="facebook"
												name="facebook"
												placeholder="url complète"
												th:value="${user.facebook}" />
											<p style="color: #828282; font-size: 0.9em">Par exemple
												 https://facebook.com/public/SocialBuilder</p>
										</div>

										<div class="form-group">
											<label for="linkedin">Linkedin</label><input type="url"
												class="form-control" id="linkedin" name="linkedin"
												placeholder="url complète"
												th:value="${user.linkedin}" />
											<p style="color: #828282; font-size: 0.9em">Par exemple
												https://linkedin.com/in/SocialBuilder</p>
										</div>
										
										<div class="form-group">
											<input th:checked="${user.noContact}" type="checkbox" value="true" name="noContact"/>Je ne souhaite pas qu'on puisse me contacter
										</div>

										<!-- <div class="form-group">
											<label for="currentPassword">Mot de passe actuel</label><input
												type="password" class="form-control" id="currentPassword"
												name="password" th:value="${currentPassword}"
												required="required" />
												<p style="color: #828282 ; font-size: 0.9em">Entrez votre mot de passe actuel
											pour mettre à jour l'email ou le mot de passe.</p>
										</div>	 -->									

										<br/>
										<div class="form-group">
										<div style="font-size: 1.2em">Changer de mot de passe</div><br/>
											<label for="txtNewPassword">Nouveau mot de passe</label>&nbsp;<span
												id="checkPasswordMatch" style="color: red;"></span> <input
												type="password" class="form-control" id="txtNewPassword"
												name="newPassword" />
											<label for="txtConfirmPassword">Confirmer mot de
												passe</label><input type="password" class="form-control"
												id="txtConfirmPassword" />
										</div>										
										<br />
										<button id="updateUserInfoButton" type="submit" class="btn btn-primary">Valider</button>
									</form>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
	<!-- end of container -->

	<div th:replace="common/header :: body-bottom-scripts" />
	<script th:src="@{/js/scripts.js}"></script>
</body>
</html>
