<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header">
<meta charset="utf-8" />
<link href="/css/clean-blog.css" rel="stylesheet" />
</head>

<body>
	<div th:replace="common/header :: navbar" />

	<!-- Page Header -->
	<!-- Set your background image for this header on the line below. -->
	<header class="intro-header">
		<div class="container no-margin-top">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<div class="site-heading">
						<h1>Actualités</h1>
						<hr class="small" />
						<span class="subheading">Retrouvez
							ici les dernières nouvelles de votre communauté</span>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Main Content -->
	<div class="container">
		<div data-th-each="message : ${messageList}" class="row">
			<div th:with="pic=${'/images/message/' + message.id +'.png'}"
				class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<div class="row">
					<div class="col-sm-4">
					<!-- <img class="img-responsive img-circle" th:if="${message.hasPicture == false}"
						src="http://placekitten.com/600/600?image=12"/> -->
						<img class="img-responsive" th:if="${message.hasPicture}"
						th:src="${'/images/message/'+message.id+'.png'}"/>
						
					</div>
					<br />
					<div class="col-sm-8 post-title">
					<a class="" th:href="@{/post(id=${message.id})}">
						<span th:utext="${message.title}"></span>
					</a>
						<p th:utext="${#strings.abbreviate(message.text, 300)}"
							class="post-meta text-justify"></p>
						<br/>
					</div>
				</div>
				<hr />
				<br/>
			</div>
		</div>
	</div>


	<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>