<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header">
<meta charset="utf-8" />
</head>

<body>
	<div th:replace="common/header :: navbar"></div>

	<main class="container">
	<div>
		<ol class="breadcrumb">
			<li><a class="no-under" th:href="@{/directoryIndex}"><i
					class="fa fa-long-arrow-left" aria-hidden="true"></i> Retour</a></li>
		</ol>

	</div>

	<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/post-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1 th:utext="${message.title}"></h1>
                        <span th:utext="${message.date}" class="meta"></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p th:utext="${message.text}"></p>
                </div>
            </div>
        </div>
    </article>

	</main>
	<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>