<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header">
<meta charset="utf-8" />
</head>

<body>
	<div th:replace="common/header :: navbar"></div>
	<!-- Header -->
	<header>
		<div class="container no-margin-top" id="maincontent" tabindex="-1">
			<div class="row"
				th:with="pic=${'/images/message/' + message.id +'.png'}">
				<div class="col-xs-12 col-sm-4 back-arrow">
					<ol class="breadcrumb green-back">
						<li><a class="no-under" th:href="@{/news}"><i
								class="fa fa-long-arrow-left" aria-hidden="true"></i> Retour</a></li>
					</ol>
				</div>
			</div>
			<div class="row no-margin full-width">
				<div class="col-sm-4 col-sm-offset-4">
					<!-- <img class="img-responsive img-circle"
						th:if="${message.hasPicture == false}"
						src="http://placekitten.com/600/600?image=14" />  -->
					<img class="img-responsive"
						th:if="${message.hasPicture}"
						th:src="${'/images/message/'+ message.id +'.png'}" />
				</div>
			</div>


			<div class="row">
				<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
					<div class="post-heading">
						<h1 th:utext="${message.title}"></h1>
						<span th:utext="${#dates.format(message.date,'dd MMM yyyy')}"
							class="meta"></span>
					</div>
				</div>
			</div>

		</div>
	</header>


	<!-- Post Content -->
	<article>
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
					<p class="text-justify" th:utext="${message.text}"></p>
				</div>
			</div>
		</div>
	</article>

	<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>