<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1000/xhtml">
<head>
<div th:replace="common/header :: common-header"></div>
<meta charset="utf-8" />
<link th:href="@{/css/contact.css}" rel="stylesheet" />
</head>

<body>
	<div th:replace="common/header :: navbar"></div>

	<main class="container full-width">

	<div>
		<ol class="breadcrumb white-back">
			<li><a class="no-under" th:href="@{/directory}"><i
					class="fa fa-long-arrow-left" aria-hidden="true"></i> Retour à la
					liste</a></li>
		</ol>
	</div>
	<!-- Team Section -->
	<section id="team">
		<div class="container full-width">
			<div class="row grey-back"
				th:with="pic=${'/images/user/' + user.id +'.png'}">
				<div class="col-md-7 col-xs-12 profilePicCol">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 profilePic">
							<img class="img-responsive center-block"
								th:src="${(user.hasPicture) ? pic : '/images/flower.jpeg'}"
								th:alt="${user.firstName + ' ' + user.lastName}" />
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 text-center">
						<br/>
							<h2
								th:if="${!#strings.isEmpty(user.lastName) and !#strings.isEmpty(user.firstName)}"
								class="section-heading"
								th:text="${user.firstName + ' ' + user.lastName}"></h2>
							<div class="social">
								<a
									th:if="${user.twitter != null and !#strings.isEmpty(user.twitter)}"
									target="_blank" class="btn btn-twitter btn-sm"
									th:href="${user.twitter}"> <i class="fa fa-twitter"></i>
								</a> <a
									th:if="${user.facebook != null and !#strings.isEmpty(user.facebook)}"
									target="_blank" class="btn btn-facebook btn-sm" rel="publisher"
									th:href="${user.facebook}"> <i class="fa fa-facebook"></i>
								</a> <a
									th:if="${user.linkedin != null  and !#strings.isEmpty(user.linkedin)}"
									target="_blank" class="btn btn-linkedin btn-sm" rel="publisher"
									th:href="${user.linkedin}"> <i class="fa fa-linkedin"></i>
								</a> <a
									th:if="${user.website != null  and !#strings.isEmpty(user.website)}"
									target="_blank" class="btn btn-website btn-sm" rel="publisher"
									th:href="${user.website}"> <i class="fa fa-laptop"
									aria-hidden="true"></i>
								</a>
							</div>

							<div class="team-member">
								<p>
									<span
										th:if="${user.category != null and #strings.equals(user.category,'Equipe')}"
										class="section-subheading text-muted"
										th:text="${'Equipe social builder'}"></span> <span
										th:if="${user.category != null and !#strings.equals(user.category,'Equipe')}"
										class="section-subheading text-muted"
										th:text="${' ' + user.category}"></span> <span
										th:if="${user.type != null}"
										class="section-subheading text-muted" th:text="${user.type}"></span>
								</p>

								<p th:if="${user.promo > 0}">
									Promo <span th:text="${user.promo}"></span>
								</p>
								<p th:if="${user.city != null and !#strings.isEmpty(user.city)}"
									th:text="${user.city}"></p>
								<p
									th:if="${user.currentPosition != null and !#strings.isEmpty(user.currentPosition)}"
									th:text="${user.currentPosition}"></p>
								<p
									th:if="${user.sector != null and !#strings.isEmpty(user.sector)}"
									th:text="${user.sector}"></p>								

								<div data-th-each="skill : ${user.skills}">
									<div th:if="${skill != null and !#strings.isEmpty(skill)}"
										class="desc skills" th:text="${'#' + skill.name}"></div>
								</div>

							</div>
						</div>
					</div>
					<div class="row text-justify">
						<div class="col-xs-12 col-sm-10 col-sm-offset-1">
							<p
								th:if="${user.description != null and !#strings.isEmpty(user.description)}"
								th:utext="${user.description}"></p>
						</div>
					</div>
				</div>
				<div th:if="${!user.noContact}"
					class="col-md-5 col-lg-4 col-xs-12 text-center">
					<form id="contact" th:action="@{/contact}" method="post">
						<h3>Contact</h3>
						<input type="hidden" name="userEmail" th:value="${user.email}" />
						<fieldset>
							<input placeholder="Prénom et nom" type="text" tabindex="1"
								required="required" name="name" />
						</fieldset>
						<span id="checkemailMatch"></span>
						<fieldset>
							<input placeholder="Adresse email" type="email" name="email"
								id="email1" tabindex="2" required="required" />
						</fieldset>
						<fieldset>
							<input placeholder="Confirmez l'email" type="email" tabindex="3"
								id="email2" required="required" />
						</fieldset>
						<fieldset>
							<textarea placeholder="Votre message" tabindex="4" name="content"
								required="required"></textarea>
						</fieldset>
						<fieldset>
							<button name="submit" type="submit" id="contact-submit"
								data-submit="Envoi...">Envoyer</button>
						</fieldset>
					</form>
				</div>


			</div>
		</div>

		<div class="container2">
			<div class="row"></div>
		</div>
	</section>

	</main>
	<div th:replace="common/header :: body-bottom-scripts"></div>
	<script th:src="@{/js/scripts.js}"></script>
</body>
<div th:replace="common/footer :: footer" />
</html>