body {
	font-family: 'Muli', sans-serif;
}

/* #index_page {
	background-image: url("../images/lyon2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment:fixed;
} */

header {
		text-align: center;
}

main {
	margin-top: 30px;
}

.container {
	width: 90%;
}

.navbar-default {
    background-color: #00FAA0;
    border-color: #06e293;
    color: #747a78;
}
.navbar-default .navbar-nav > li  {
	border: solid 0.1px rgba(253, 253, 253, 0.1);
	border-radius: 3px;
}
.navbar-default .navbar-nav > li > a {
	color: #747a78;
	text-decoration: none;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #B5E5D1;
	background-color: #89796D;
    border-top-color: #89796D;
   	border-bottom-color: #89796D;
}

.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #00FAA0;
    border-bottom-color: #00FAA0;
    color: rgba(243, 243, 243, 0.7);
}


.navbar-default .navbar-nav li:hover {
   background-color: #07c480;
   color: rgba(253, 253, 253, 0.9);
   border-top-color: #07c480;
   border-bottom-color: #07c480;
   border-radius: 3px;
} 

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: rgba(253, 253, 253, 0.9);
    background-color: #07c480;
    border-color: #07c480;
    border-radius: 3px;
}

.navbar-default .navbar-brand> a:hover,
.navbar-default .navbar-brand> a:focus {
   color: rgba(253, 253, 253, 1);
   color: rgba(253, 253, 253, 1);
}

.navbar-default .navbar-nav > li > a {
    color: #747a78;
    font-size: 19px;
    background-color: #00FAA0;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #07c480;
    border-color: #89796D;
}

.navbar-default .navbar-toggle {
	background-color: #00FAA0;
    border-color: #07c480;
}

#home {
	width: 26%;
	margin: auto;
	text-align: left;
}

.navbar-brand {
	padding-top: 7px;
  	font-size: 18px;
  	float: left;
 	max-width: 160px;
}

.navbar-default .navbar-brand {
    color: rgba(0, 0, 0, 0.7);
}

#lang {
	color: white;
}

#index_title {
	padding-bottom: 20px;
	font-size: 2em;
}

h1 {
	font-size: 1.9em;
	text-align: center;
}
h2 {
	font-size: 1.7em;
	margin-top: 2px;
}

h3 {
	font-size: 1.6em;
	margin-top: 2px;
}

#background {
	
}


a {
	text-decoration: underline;
	color: #57402F;
}

a:hover {
	text-decoration: none;
    color: #57402F;
}

a:visited {
	text-decoration: none;
    color: #57402F;
}

p {
	font-family: 'Muli', sans-serif;
	font-size: 16px;
	margin-bottom: 0px;
}

li {
	font-size: 16px;
}
/* li:before {
	content: "•  ";
	color: #57402F;
} */

ul {
    list-style: none;
    padding:0;
    margin:0;
}

nav ul li:before {
	content: "";
}

nav ul li {
	font-size: 20px
}

* {
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.tables {
	border: solid, rgba(0,206,209,1), 1px;
	border-collapse: collapse;
}
td, th {
    border: 2px solid rgba(32,188,175, 1);/*rgba(0,206,209,1);*/
    text-align: center;
    padding: 8px;

}

td a {
    color: black;
}

.box {
	border: 2px solid rgba(32,188,175, 1);
	border-radius: 3px;
}



@media screen and (min-width: 900px) {
	.carousel-inner img {
		margin: auto;
	}
	
	.carousel {
	  /* width:640px;
	  height:481px; */
	  margin: auto;
	}
	
	#logo {
	/* margin-left: -8em; */
	}
}

#logo {
	width: 70%;
}

hr {
	border: none;
	height: 0.15em;
	color: #747a78;
	background-color: #747a78;
}

#no-border {
	border: none;
}




