body {
	font-family: 'Muli', sans-serif;
}

#index_page {
	/*background-image: url("../images/Lyon.jpg");*/
	background-image: url("../images/lyon2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment:fixed;
}

body:before {
	/*content: url("../images/paris.jpg");
	background-image: url("../images/paris.jpg");
	visibility: hidden;
	position: absolute;
	left: -999em;*/
}

header {
		text-align: center;
}

main {
	margin-top: 30px;
}

.navbar-default {
    background-color: #00FAA0;
    border-color: #06e293;
    color: #88938f;
}
.navbar-default .navbar-nav > li  {
	border: solid 0.1px rgba(253, 253, 253, 0.1);
	border-radius: 3px;
}
.navbar-default .navbar-nav > li > a {
	color: #88938f;
	text-decoration: none;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #B5E5D1;
	background-color: #89796D;
    border-top-color: #89796D;
   	border-bottom-color: #89796D;
}

.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #00FAA0;
    border-bottom-color: #00FAA0;
    color: rgba(243, 243, 243, 0.7);
}


.navbar-default .navbar-nav li:hover {
   background-color: #07c480;
   color: rgba(253, 253, 253, 0.9);
   border-top-color: #07c480;
   border-bottom-color: #07c480;
   border-radius: 3px;
} 

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: rgba(253, 253, 253, 0.9);
    background-color: #07c480;
    border-color: #07c480;
    border-radius: 3px;
}

.navbar-default .navbar-brand> a:hover,
.navbar-default .navbar-brand> a:focus {
   color: rgba(253, 253, 253, 1);
   color: rgba(253, 253, 253, 1);
}

.navbar-default .navbar-nav > li > a {
    color: #88938f;
    font-size: 19px;
    background-color: #00FAA0;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #07c480;
    border-color: #89796D;
}

.navbar-default .navbar-toggle {
	background-color: #00FAA0;
    border-color: #89796D;
}

#home {
	width: 26%;
	margin: auto;
	text-align: left;
}

.navbar-brand {
	padding-top: 7px;
  	font-size: 18px;
  	float: left;
 	max-width: 160px;
}

.navbar-default .navbar-brand {
    color: rgba(0, 0, 0, 0.7);
}

#lang {
	color: white;
}

#index_title {
	padding-bottom: 20px;
	font-size: 2em;
}

h1 {
	font-size: 1.9em;
	text-align: center;
}
h2 {
	font-size: 1.7em;
	margin-top: 2px;
}

h3 {
	font-size: 1.6em;
	margin-top: 2px;
}

#background {
	
}

@media screen and (min-width: 900px) {
	#me {
		width: 70%;
	}
	.row {
		margin-top: 40px;
	}
	#hobbies {
		margin-left: 50px;
	}
}

@media screen and (min-width: 700px) and (max-width: 899px) {
	#me {
		width: 30%;
		z-index: 1;
		position: relative;
	}
}

@media screen and (max-width: 690px) {
	#me {
		width: 50%;
	}
	#white_back {
		background-color: rgba(255, 250, 250, 0.7);
	}
	#index-pic {
		padding-bottom: 30px;
	}
	.projectdescription {
		margin-top: 20px;
	}
}

#index_white_back {
	background-color: rgba(255, 250, 250, 0.8);
	border-radius: 3px;
	color: black;
	/*margin: 20px;*/
	padding: 20px;
}

.back {
	background-color: rgba(32,188,175, 1);
	border-radius: 3px;
	color: black;
	padding-right: 6px;
	padding-left: 6px;
	display: inline-block;
}

.box {
	border: 2px solid rgba(32,188,175, 1);
	border-radius: 3px;
	padding: 10px 10px 10px 15px;
}


#me {
	    margin-right: auto;
	    border-radius: 300px;
}

#velo {
	border-radius: 30px;
	margin-right: 30px;
}
@media screen and (max-width: 700px) {
	#velo {
		width: 50%;
		margin: auto;
	}
}

a {
	text-decoration: underline;
	color: #57402F;
}

a:hover {
	text-decoration: none;
    color: #57402F;
}

a:visited {
	text-decoration: none;
    color: #57402F;
}

p {
	font-family: 'Muli', sans-serif;
	font-size: 16px;
	margin-bottom: 0px;
}

.poste {
	font-size: 20px;
	display: inline-block;
	margin-bottom: 8px;
}

#hotels {
	list-style-type: none;
	padding-left:0;
	font-size: 16px;
}

.listes:before {
    content: "•  ";
    color: rgba(0,206,209,1);
}


#email {
	text-align: center;
	font-size: 20px;
}

li {
	font-size: 16px;
}
li:before {
	content: "•  ";
	color: #57402F;
}

ul {
    list-style: none;
    padding:0;
    margin:0;
}

nav ul li:before {
	content: "";
}

nav ul li {
	font-size: 20px
}


div.project {
    border: 1px solid rgba(32,188,175, 1);
}

div.project:hover {
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
     transform:scale(1.1);
}

div.project:visited {
    border: 1px solid rgba(0,206,209,1);
}

div.project img {
    width: 100%;
    height: auto;
}

.projectdescription {
	border: solid 1px rgba(0,206,209,1);
	padding: 8px;
	background-color: rgba(32,188,175, 1);
	border-radius: 3px;
	color: black;
	margin-bottom: 12px;
}

* {
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.tables {
	border: solid, rgba(0,206,209,1), 1px;
	border-collapse: collapse;
}
td, th {
    border: 2px solid rgba(32,188,175, 1);/*rgba(0,206,209,1);*/
    text-align: center;
    padding: 8px;

}

td a {
    color: black;
}

#contact {
	padding: 20px;
	border-radius: 4px;
}
