<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml"
    xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta charset="utf-8" />

<footer th:fragment="footer">
<!-- footer {
    color: black;
    text-align: center;
    padding: 1.2em;
    } -->
    <small>Ce site a été entièrement réalisé par <a th:href="@{/userDetail?id=5}" target="_blank">Clémentine Pirlot</a></small>
</footer>